.bg-image {
    background-image: url("../img/intro-bg.jpg");
    background-color: #000000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.custom-align{
    align-items: start;
}

.navbar-toggler .collapsed + .custom-align{
    align-items: center;
}

.modal-dialog{
    overflow-y: initial;
}