.vh-50{
    height: 50vh;
}

.bg-image2 {
    background-image: url("../img/register-bg.jpg");
    background-color: #000000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.custom-fixed-bottom{
    position: fixed;
    bottom: 0;
    right: 0;
}

.custom-color{
    background: linear-gradient(to left, rgba(77, 77, 77, 0.5), rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5), rgba(77, 77, 77, 0.5));
    display: inline;
    color: transparent;
    animation: animated 15s linear infinite;
    background-clip: text;
}

@keyframes animated {
    to {
        background-position-x: 161px;
    }
}

input::placeholder{
    color: aliceblue;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../img/intro-bg.jpg"); /* Change as needed */
    background-size: cover;
    background-position: 50% 50%;
}
.custom-header {
    position: relative;
    background: transparent;
}
